.component-avatar-upload {
  width: 120px;
  text-align: center;
}
.component-avatar-upload > .avatar-preview {
  width: 115px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #ddd;
  position: relative;
}
.component-avatar-upload > .avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.component-avatar-upload > .avatar-preview > .avatar-status {
  word-wrap: break-word;
  word-break: normal;
  word-break: break-all;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.component-avatar-upload > .avatar-preview > .avatar-status-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 115px;
  height: 115px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: inherit;
}

.titlebar_VC2WKgAI7f {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 0;
}
.dialogContainer_tYDo4rLlw8 {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dialogContainer_tYDo4rLlw8 label {
  width: 50px;
  text-align: right;
}
.logo_MxqvG8qmbQ {
  padding-left: 48px;
  display: flex;
  align-items: center;
}
.version_oae5MNAvfK {
  position: relative;
  top: 4px;
  margin-left: 16px;
  color: #999;
}
.container_PnDsEU_3vw {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.avatar_Xaea3UYWwV {
  width: 44px;
  height: 44px;
  border-radius: 7px;
}
.avatar_Xaea3UYWwV img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.search_SsA5crJz4V {
  margin: 0 4px;
}
.user_RUy_KGQqXB {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.name_rmc1lCjeo3 {
  margin: 0 8px;
}
.userAndLogin_cWNKPj6CCc {
  margin: 0 4px;
}

.menu_sOAtY5GisW {
  margin-top: 10px;
  height: calc(100vh - 70px);
  width: 250px;
  min-width: 250px;
  background-color: white;
}
.menu_sOAtY5GisW a.active_BzcbAd3E2H {
  color: blue;
}
.item_bQlQRiCLnd {
  display: flex;
  align-items: center;
  position: relative;
}
.item_bQlQRiCLnd a {
  color: #333;
  text-decoration: none;
}
.icon_lMTUY15O6C {
  margin-right: 8px;
  position: relative;
  top: 1px;
}

.header_iinvagw0nm {
  margin: 8px 0 16px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
}
.container__LoW6mlUak {
  padding-bottom: 64px;
}

.verse-edit {
  padding: 8px 16px;
}
.verse-edit .verse-edit-item {
  margin: 8px;
}
.verse-edit .verse-edit-item .item-label {
  font-weight: 300;
  margin-right: 8px;
  width: 48px;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}
.verse-edit .verse-edit-item input {
  border: 1px solid #777;
}
.verse-edit .verse-edit-item input:focus {
  outline: none;
  border: 1px solid #1781b5;
}
.verse-add-one {
  text-align: center;
  margin: 16px;
  display: none;
}
.verse-add-one button {
  width: 200px;
}
#submit-verse {
  text-align: center;
  margin-top: 24px;
}
#submit-verse button {
  width: 180px;
  height: 38px;
  padding: 8px 0;
}
.verse-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.verse-item:hover {
  background-color: #f1f1f1;
}
.verse-item-author {
  font-weight: 300;
}
.verse-item-edit,
.verse-item-delete {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.verse-item-edit,
.verse-item-delete span {
  position: relative;
  top: 2px;
}
.verse-item-delete {
  margin-right: 28px;
}

.file-list-admin {
  padding-bottom: 100px;
}
.file-item {
  display: inline-block;
  margin: 4px;
}
#file-preview {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 84px;
  user-select: none;
}
#file-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#delete-file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#file-preview:hover #delete-file {
  display: block;
}
#load-more-file {
  display: inline-block;
  width: 128px;
  height: 84px;
  margin: 4px;
  background-color: #777;
  color: #fff;
  vertical-align: top;
  text-align: center;
  line-height: 84px;
  user-select: none;
}

.code-item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.code-item:hover {
  background-color: #f1f2f3;
}
.code-item > #status {
  margin-right: 8px;
  position: relative;
  top: 2px;
}
#code {
  width: 280px;
}
#register-by-icon {
  position: relative;
  top: 2px;
  margin-left: 16px;
  margin-right: 8px;
}
#register-by {
  font-weight: 200;
  font-size: 16px;
}

