.react-datepicker__input-container input {
  width: 100%;
  height: 32px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 12px;
  box-sizing: border-box;
}
.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #3498DB;
}
.react-datepicker-wrapper {
  box-sizing: border-box;
  width: 100%;
}
.react-datepicker__input-container {
  box-sizing: border-box;
}

/* base colors */
/** theme colors */
.banPage_FqySRxDwX5 {
  text-align: left;
}
.message_T6HGF_2drP {
  width: 100%;
  color: #f1c40f;
}
.allowRole_PiCO5ajCTO {
  width: 100%;
}
.currentRole_OzJhlLweGU {
  width: 100%;
}

.menu_v9K4WwGHzu {
  overflow: hidden;
}
.menuGroup_SYG76Nbkal {
  user-select: none;
  overflow: hidden;
  transition: height 200ms ease-in-out;
}
.groupHeader_o9GBGf0GTo {
  height: 48px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.groupIcon_Nt1Fc2UGLP {
  width: 48px;
  min-width: 48px;
  margin-right: 8px / 2;
}
.groupTitle_ODb_POeUr3 {
  font-weight: 700;
}
.groupArrow_dyLKwwQyK6 {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: 8px;
}
.groupArrow1_oECK7V13H2 {
  display: inline-block;
  height: 2px;
  width: 12px;
  background-color: #333;
  transform: rotate(45deg);
  margin: 0;
  position: relative;
  right: -2px;
  top: 8px;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.groupArrow2_eo_uofcwIC {
  display: inline-block;
  height: 2px;
  width: 12px;
  background-color: #333;
  transform: rotate(-45deg);
  margin: 0;
  position: relative;
  left: -2px;
  top: 8px;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.menuItem_yx9jHMfdPP {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  overflow: hidden;
  background-color: #f9f9f9;
}
.menuItem_yx9jHMfdPP:hover {
  background-color: #f1f1f1;
}
.menuItemIcon_ZPCBCI0gbb {
  width: 48px;
  min-width: 48px;
  margin-right: 8px / 2;
}
.menuItemContent_mFQDfNm7Je {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.leftMenu_Stpd25sZX9 {
  margin-top: 16px;
}
.leftMenuItem_hnoYdXytHV {
  margin: 8px 0;
}
.leftMenuItem_hnoYdXytHV a {
  text-decoration: none;
  color: #313233;
}

.titlebar_bGRNNSic_8 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoArea_SDEx1MGTZH {
  display: flex;
  align-items: center;
}
.title_MUNkLEXeXK {
  margin-left: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #515357;
}

.layout_kMgTHs_FYl {
  padding: 4px;
}
.header_WUHLAWd6HP {
  display: flex;
  position: relative;
  align-items: end;
  margin: 0 0 16px 0;
}
.header_WUHLAWd6HP::after {
  content: '';
  width: 100%;
  position: absolute;
  border-top: 1px solid #ddd;
  bottom: -16px;
  left: 0;
}
.title_wNLhK24xjk {
  font-size: 1.5rem;
  font-weight: 800;
}
.description_TD11xnF_Vi {
  color: #999;
  margin-left: 16px;
}
.children_Z2PeL2hxrh {
  margin-top: 32px;
}

.login_jpiNUu0z_f {
  margin: 0 8px;
}
.item_bgPMAklrtA {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}
.item_bgPMAklrtA label {
  width: 64px;
  margin-right: 8px;
}
.submitArea_pdsQzlfNmt {
  display: flex;
  margin: 24px 0 8px 0;
  justify-content: center;
  align-items: center;
}
.submitArea_pdsQzlfNmt button {
  width: 80px;
}
.loginedInfo_NQMpulPUBJ {
  display: flex;
  align-items: center;
  position: relative;
}
.avatar_rd8SLHzJwE {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.avatar_rd8SLHzJwE img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.infoPanel_hZZmaoDIvT {
  position: absolute;
  top: 36px;
  background-color: #333;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
}
.name_KkcZ9MnXa0 {
  padding: 8px 24px;
  display: flex;
  align-items: center;
}
.name_KkcZ9MnXa0 span:nth-child(2) {
  margin-left: 4px;
}
.name_KkcZ9MnXa0:hover {
  background-color: #3f3f3f;
}
.role_O4i9HXf1AQ {
  padding: 8px 24px;
  display: flex;
  align-items: center;
}
.role_O4i9HXf1AQ span:nth-child(2) {
  margin-left: 4px;
}
.role_O4i9HXf1AQ:hover {
  background-color: #3f3f3f;
}
.logout_VT9ErutMQ1 {
  margin-top: 16px;
  padding: 0 24px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.logout_VT9ErutMQ1 span:nth-child(2) {
  margin-left: 4px;
}

@charset "UTF-8";
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #ccc;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  margin-left: -4px;
  position: absolute;
  width: 0;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  border-bottom-color: #aeaeae;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: #f0f0f0;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  top: 0;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
  bottom: 0;
  margin-bottom: -8px;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
  border-bottom: none;
  border-top-color: #fff;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
  bottom: 0;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}
.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}
.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}
.react-datepicker--time-only .react-datepicker__triangle {
  left: 35px;
}
.react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}
.react-datepicker--time-only .react-datepicker__time,
.react-datepicker--time-only .react-datepicker__time-box {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}
.react-datepicker-popper {
  z-index: 1;
}
.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 10px;
}
.react-datepicker-popper[data-placement=bottom-end] .react-datepicker__triangle,
.react-datepicker-popper[data-placement=top-end] .react-datepicker__triangle {
  left: auto;
  right: 50px;
}
.react-datepicker-popper[data-placement^=top] {
  padding-bottom: 10px;
}
.react-datepicker-popper[data-placement^=right] {
  padding-left: 8px;
}
.react-datepicker-popper[data-placement^=right] .react-datepicker__triangle {
  left: auto;
  right: 42px;
}
.react-datepicker-popper[data-placement^=left] {
  padding-right: 8px;
}
.react-datepicker-popper[data-placement^=left] .react-datepicker__triangle {
  left: 42px;
  right: auto;
}
.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}
.react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-top-left-radius: 0;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0.3rem;
}
.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 15px;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}
.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 2px;
  padding: 0;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}
.react-datepicker__navigation--previous {
  left: 2px;
}
.react-datepicker__navigation--next {
  right: 2px;
}
.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 85px;
}
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__navigation--years-previous {
  top: 4px;
}
.react-datepicker__navigation--years-upcoming {
  top: -4px;
}
.react-datepicker__navigation:hover *::before {
  border-color: #a6a6a6;
}
.react-datepicker__navigation-icon {
  position: relative;
  top: -1px;
  font-size: 20px;
  width: 0;
}
.react-datepicker__navigation-icon--next {
  left: -2px;
}
.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: -7px;
}
.react-datepicker__navigation-icon--previous {
  right: -2px;
}
.react-datepicker__navigation-icon--previous::before {
  transform: rotate(225deg);
  right: -7px;
}
.react-datepicker__month-container {
  float: left;
}
.react-datepicker__year {
  margin: 0.4rem;
  text-align: center;
}
.react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}
.react-datepicker__year .react-datepicker__year-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}
.react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}
.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}
.react-datepicker__input-time-container {
  clear: both;
  width: 100%;
  float: left;
  margin: 5px 0 10px 15px;
  text-align: left;
}
.react-datepicker__input-time-container .react-datepicker-time__caption {
  display: inline-block;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container {
  display: inline-block;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  display: inline-block;
  margin-left: 10px;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
  width: auto;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-inner-spin-button,
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time] {
  -moz-appearance: textfield;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
  margin-left: 5px;
  display: inline-block;
}
.react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 85px;
}
.react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  position: absolute;
  right: -87px;
  top: 0;
}
.react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: white;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 85px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + 1.7rem / 2);
  overflow-y: scroll;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  box-sizing: content-box;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 30px;
  padding: 5px 10px;
  white-space: nowrap;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #216ba5;
  color: white;
  font-weight: bold;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}
.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}
.react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}
.react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}
.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}
.react-datepicker__day-names {
  margin-bottom: -8px;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}
.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer;
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}
.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: bold;
}
.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff;
}
.react-datepicker__day--highlighted:hover,
.react-datepicker__month-text--highlighted:hover,
.react-datepicker__quarter-text--highlighted:hover,
.react-datepicker__year-text--highlighted:hover {
  background-color: #32be3f;
}
.react-datepicker__day--highlighted-custom-1,
.react-datepicker__month-text--highlighted-custom-1,
.react-datepicker__quarter-text--highlighted-custom-1,
.react-datepicker__year-text--highlighted-custom-1 {
  color: magenta;
}
.react-datepicker__day--highlighted-custom-2,
.react-datepicker__month-text--highlighted-custom-2,
.react-datepicker__quarter-text--highlighted-custom-2,
.react-datepicker__year-text--highlighted-custom-2 {
  color: green;
}
.react-datepicker__day--holidays,
.react-datepicker__month-text--holidays,
.react-datepicker__quarter-text--holidays,
.react-datepicker__year-text--holidays {
  position: relative;
  border-radius: 0.3rem;
  background-color: #ff6803;
  color: #fff;
}
.react-datepicker__day--holidays .holiday-overlay,
.react-datepicker__month-text--holidays .holiday-overlay,
.react-datepicker__quarter-text--holidays .holiday-overlay,
.react-datepicker__year-text--holidays .holiday-overlay {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}
.react-datepicker__day--holidays:hover,
.react-datepicker__month-text--holidays:hover,
.react-datepicker__quarter-text--holidays:hover,
.react-datepicker__year-text--holidays:hover {
  background-color: #cf5300;
}
.react-datepicker__day--holidays:hover .holiday-overlay,
.react-datepicker__month-text--holidays:hover .holiday-overlay,
.react-datepicker__quarter-text--holidays:hover .holiday-overlay,
.react-datepicker__year-text--holidays:hover .holiday-overlay {
  visibility: visible;
  opacity: 1;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #bad9f1;
  color: #000000;
}
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}
.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__year--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
}
.react-datepicker__day--disabled:hover,
.react-datepicker__month-text--disabled:hover,
.react-datepicker__quarter-text--disabled:hover,
.react-datepicker__year-text--disabled:hover {
  background-color: transparent;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.react-datepicker__input-container .react-datepicker__calendar-icon {
  position: absolute;
  padding: 0.5rem;
  box-sizing: content-box;
}
.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 25px;
}
.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  position: relative;
}
.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  transform: rotate(135deg);
  right: -16px;
  top: 0;
}
.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  z-index: 1;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae;
}
.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover,
.react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}
.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}
.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
  background-color: #ccc;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}
.react-datepicker__close-icon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0 6px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.react-datepicker__close-icon::after {
  cursor: pointer;
  background-color: #216ba5;
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "×";
}
.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}
.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}
.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}
@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}
.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}
.react-datepicker__children-container {
  width: 13.8rem;
  margin: 0.4rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  height: auto;
}
.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
.react-datepicker__calendar-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

/* base colors */
/** theme colors */
.editPost_i3TutPyOry {
  display: flex;
  justify-content: center;
}
.left_S7jsy0ck0B {
  width: 800px;
  display: inline-block;
  text-align: left;
}
.right_Qfz4aRN55C {
  display: inline-block;
  margin-left: 16px;
}
.editorContainer_V6qgSxQGS9 {
  display: block;
}
.editItem_IrcjlMf4DB {
  margin: 8px 0;
  display: flex;
  align-items: center;
}
.itemLabel_CQqV08TRtR {
  display: inline-block;
  width: 64px;
  font-weight: 300;
  font-size: 0.9rem;
  color: #515352;
}
.itemContent_rlggBhH0CU {
  width: 200px;
}
.submitArea_qOmfUfsXo0 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 32px 0;
}
.submitArea_qOmfUfsXo0 button:nth-child(2) {
  margin-left: 16px;
}

.verseEdit_oU21fClKTR {
  width: 500px;
  margin: 0 auto;
}
.verseEditItem_UzuZYHz5i8 {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.itemLabel_LUAjEvRns0 {
  display: inline-block;
  width: 88px;
}
.submitVerse_pZ46zcnEbP {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}
.submitVerse_pZ46zcnEbP button {
  width: 100px;
}

.uploadCover_ZdjDQlRCHo {
  display: flex;
  justify-content: center;
}
.uploadArea_x8Si5ltBEp {
  width: 280px;
}
.uploadArea_x8Si5ltBEp > div:nth-child(2) {
  text-align: center;
}
.uploadArea_x8Si5ltBEp button {
  margin-top: 32px;
  width: 40%;
}
.coverPreview_pNktBzuDhZ {
  width: 1080px;
  padding: 0;
  height: calc(100vh - 240px);
  background-color: #7d7d7d;
  margin-right: 16px;
  border-radius: 8px;
}
.coverPreview_pNktBzuDhZ img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.uploadImage_Du7Xt8SWSC {
  display: flex;
  justify-content: center;
}
.main_PfAVDiNngz {
  display: flex;
  flex-wrap: wrap;
  min-width: 800px;
}
.right_fs84bAVDAP {
  width: 300px;
}
.right_fs84bAVDAP > div:nth-child(2) {
  margin-top: 16px;
  text-align: center;
}
.left_EdMH_rA0dl {
  flex-grow: 1;
  padding: 0 32px 0 0;
}
.bottom__TLNh9r0KQ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.bottom__TLNh9r0KQ button {
  width: 160px;
  height: 40px;
}
.editItem_stc3XnmKAP {
  margin: 8px 0;
  text-align: left;
}
.editItem_stc3XnmKAP label {
  display: inline-block;
  font-size: 0.8rem;
  color: #999;
  margin: 8px 0;
  margin-right: 16px;
}
.required_GLnemkcbdz {
  display: inline-block;
  margin-left: 8px;
  color: #f5222d;
}
.exifInfo_Uu5e1chcFU {
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 16px 24px;
}
.exifItem_RHLEMpMlZw {
  display: flex;
  align-items: center;
  margin: 4px 0;
  max-width: 100%;
}
.exifItem_RHLEMpMlZw > label {
  font-size: 0.8rem;
  color: #888;
  min-width: 52px;
  text-align: center;
}
.exifItem_RHLEMpMlZw span {
  flex-grow: 1;
  padding: 0 4px 0 0;
}
.exifItem_RHLEMpMlZw input {
  margin-left: 16px;
  padding: 4px 8px;
  border: 1px solid #9999995d;
  width: 100%;
  font-size: 0.8rem;
  color: #545454;
}
.exifItem_RHLEMpMlZw input:focus {
  outline: none;
}

.home_g5LamsCjeJ {
  width: 100%;
}

.domo_zjvmUbRuY2 {
  padding: 8px;
  margin: 0;
  height: 100vh;
}
.top_iuwsJ6XAY6 {
  width: 100%;
  height: 48px;
  background-color: #fff;
  margin: 0;
  padding: 0 48px 0 16px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}
.loginArea_uXLhulIHtL {
  margin: 0 8px;
}
.main_A91mAHJQib {
  display: flex;
  height: calc(100vh - 48px - 8px * 2);
}
.left_zBlwMPnYY0 {
  background-color: #fff;
  margin: 8px 8px 0 0;
  border-radius: 7px;
  width: 188px;
  height: calc(100% - 8px);
  backdrop-filter: blur(20px);
}
.right_GuCW_bUSEa {
  background-color: #fff;
  margin: 8px 0 8px 0;
  padding: 32px 48px;
  border-radius: 7px;
  width: calc(100vw - 188px - 8px * 3);
  height: calc(100% - 8px);
  backdrop-filter: blur(20px);
  overflow: auto;
}

.container_KR6L2yZy3Y {
  margin-top: 16px;
  width: fit-content;
  padding-bottom: 32px;
}
.options_IXVwf6Epjn {
  display: flex;
  align-items: center;
}
.filter_aMtr5rOGHT span:nth-child(2) {
  display: inline-block;
  margin-left: 8px;
  width: 80px;
}
.filterText_KB0hWlzPxj {
  font-weight: 300;
}
.addOne_s5fu6Lso4z {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.addOne_s5fu6Lso4z span:nth-child(2) {
  margin-left: 8px;
  display: flex;
}
.addText_bajA1VFHXd {
  font-weight: 300;
}
.table_dLeKj8UrgK {
  text-align: center;
}
.prevNext_EdJz89977t {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.invitation_SNEinm1Di9 {
  height: calc(100vh - 240px);
}
.operate_GLmOobyW0x {
  margin-bottom: 16px;
}
.codeList_wxyU74lVf6 {
  height: 100%;
  overflow-y: auto;
}
.codeItem_IWXAhRzCeI {
  padding: 8px 16px 8px 0;
  display: flex;
  align-items: center;
}
.codeItem_IWXAhRzCeI:hover {
  background-color: #f1f2f3;
}
.status_noTgL8_3pB {
  margin-right: 16px;
  position: relative;
  top: 2px;
}
.code_OoLDxDijtQ {
  width: 280px;
}
.registerByIcon_mpWHa2oZJW {
  position: relative;
  top: 2px;
  margin-left: 16px;
  margin-right: 8px;
}
.registerBy_DqyWiCJX2w {
  font-weight: 200;
  font-size: 16px;
}

/* base colors */
/** theme colors */
.userCard_TixcV5rsGQ {
  border: 1px solid #ccc;
  display: flex;
  margin: 8px 8px 8px 0;
  padding: 4px;
  width: 320px;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: #fff;
  backdrop-filter: blur(20px);
  cursor: pointer;
}
.userCard_TixcV5rsGQ:hover {
  border-color: #3498db;
}
.avatar_C8oBZk4Otr {
  width: 108px;
  height: 108px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar_C8oBZk4Otr img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.right_bT2kCDcl1H {
  margin-left: 8px;
}
.userSkeleton_gNf9S6RChJ {
  margin: 8px 0;
}
.nickname_KwiVBAlO2i {
  margin: 4px 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #333;
  font-size: 0.8rem;
}
.username_XaM7I7Rp4G {
  font-size: 14px;
  margin: 4px 0;
  color: #ccc;
}
.name_f1ecGLqNA0 {
  margin-right: 8px;
}
.gender_DB3HcKwLsp {
  position: relative;
  top: 1px;
}
.uid__8RxLa9cCJ {
  font-size: 12px;
  margin: 4px 0;
  color: #ccc;
  display: flex;
  align-items: center;
}
.birthday_uCla1ZzsOP {
  font-size: 12px;
  margin: 4px 0;
  color: #ccc;
  display: flex;
  align-items: center;
}
.location_KoaxSQbVLF {
  font-size: 12px;
  margin: 4px 0;
  color: #ccc;
  display: flex;
  align-items: center;
}
.icon_aLiWJaKJut {
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.content_pAntwO9tni {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  justify-content: center;
}
.item__mCT8S5KSP {
  margin: 8px 0;
}
.item__mCT8S5KSP label {
  vertical-align: middle;
  margin-right: 16px;
  width: 80px;
  text-align: justify;
  text-align-last: justify;
  display: inline-block;
  font-weight: 300;
  color: #555;
}
.item__mCT8S5KSP > span {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}
.submit_hlxpOdGc_8 {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.item_Qq69Poo2BT {
  display: inline-block;
  vertical-align: top;
}
.userSkeletion_JW1zJYaHFz {
  border: 1px solid #ccc;
  display: flex;
  margin: 8px;
  padding: 4px;
  width: 320px;
  flex-wrap: wrap;
  border-radius: 5px;
  cursor: pointer;
}
.skeletion_HY0fi_1j0I {
  display: block;
  margin: 8px;
}
.operate_yn9FPp1LQb {
  margin: 0 0 8px 0;
}

.container_mOJ8ulNx8W {
  display: flex;
  position: relative;
  width: 48px;
  height: 20px;
}
.arrow1_dVImkkgQ8A {
  width: 16px;
  height: 2px;
  background-color: #fff;
  transform: rotate(30deg);
  position: absolute;
  right: 10px;
  top: 8px;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border-radius: 2px;
}
.arrow2_cIBBvvuQ04 {
  width: 16px;
  height: 2px;
  background-color: #fff;
  transform: rotate(30deg);
  position: absolute;
  right: 10px;
  top: 8px;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  border-radius: 2px;
  transform: rotate(-30deg);
  left: 10px;
}

.photo_wcDWp12Dcz {
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}
.preview_PySSlm34fA {
  height: 80vh;
  min-width: 20vw;
  user-select: none;
  display: flex;
  align-items: center;
}
.preview_PySSlm34fA img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info_ZDHrnpKBf9 {
  margin-left: 64px;
}
.infoItem_wV3Rgboxwz {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.infoItem_wV3Rgboxwz span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.infoItem_wV3Rgboxwz span:nth-child(2) {
  margin-left: 8px;
}
.title_EzuC7uZnxq {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.author_DXBMeDYSOv {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.author_DXBMeDYSOv span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.author_DXBMeDYSOv span:nth-child(2) {
  margin-left: 8px;
}
.date_DDe3xoXDXy {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.date_DDe3xoXDXy span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.date_DDe3xoXDXy span:nth-child(2) {
  margin-left: 8px;
}
.description_RKDt3wFI7R {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.description_RKDt3wFI7R span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.description_RKDt3wFI7R span:nth-child(2) {
  margin-left: 8px;
}
.iso__h9HN2lhTf {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.iso__h9HN2lhTf span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.iso__h9HN2lhTf span:nth-child(2) {
  margin-left: 8px;
}
.exposure_R0fJ02GdN_ {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.exposure_R0fJ02GdN_ span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.exposure_R0fJ02GdN_ span:nth-child(2) {
  margin-left: 8px;
}
.focal_YxRxWxT673 {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.focal_YxRxWxT673 span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.focal_YxRxWxT673 span:nth-child(2) {
  margin-left: 8px;
}
.model_t8Ltg3Iz0U {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.model_t8Ltg3Iz0U span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.model_t8Ltg3Iz0U span:nth-child(2) {
  margin-left: 8px;
}
.lens_aYtMSX87zi {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.lens_aYtMSX87zi span:nth-child(1) {
  display: flex;
  width: 30px;
  justify-content: center;
}
.lens_aYtMSX87zi span:nth-child(2) {
  margin-left: 8px;
}
.infoContainer_i4kQAXeqZj {
  width: fit-content;
}
.hidedInfo_p77yHcnQvU {
  position: fixed;
  left: 50%;
  height: 450px;
  overflow: hidden;
  transform: translateX(-50%);
  background-color: #33333394;
  padding: 0px 32px 16px 32px;
  border-radius: 5px;
  transition: top 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 999;
  color: #f1f1f1;
}
.clickToView_BogTjDUmy0 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
}

.masnoryItem_iaqpyukLDh {
  position: absolute;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}
.masnoryItem_iaqpyukLDh img {
  width: 100%;
  height: 100%;
}
.masnoryItem_iaqpyukLDh:hover .info_NGBKDjTfcw {
  visibility: visible;
}
.mask_EXSTl4G6nm {
  position: fixed;
  inset: 0;
  background-color: #111;
  z-index: 998;
}
.info_NGBKDjTfcw {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  padding: 16px 32px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.title_IQuDSFe3LT {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f1f1f1;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.content_Q88IDOAjY0 {
  font-size: 1rem;
  font-weight: 300;
  color: #b9b9b9;
  width: 100%;
  text-align: center;
}

.article_cJFLm9PwS0 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;
  background-color: #fff;
}
.back_hBAn8SRDEY {
  padding: 0 8px;
  margin-bottom: 0px;
}
.backText_UOJoi4I4yG {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px 4px 4px;
  background-color: #fff;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
}
.backText_UOJoi4I4yG:hover {
  background-color: #f1f1f1;
}
.backText_UOJoi4I4yG span:nth-child(2) {
  position: relative;
  top: -1px;
}
.pageHeader_ulAKw9QQHr {
  width: 100%;
  height: fit-content;
  padding: 16px 0;
}
.author_jUccI15SNR {
  padding: 16px 0 0 16px;
  color: #999;
  font-size: 0.9rem;
}
.date_xZbGyGGwBN {
  padding: 16px 16px 0 16px;
  color: #999;
  font-size: 0.9rem;
}
.content_h6tTBfJTWb {
  line-height: 1.8;
  padding: 0 16px 32px 16px;
  color: #333;
}
.skeletonItem_AfOQwBI4cn {
  margin: 16px 0;
}
.skeletonContent_bSWNlSnWrP {
  margin-top: 48px;
}
.skeletonContent_bSWNlSnWrP div {
  margin: 16px 0;
}

